# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools| 
| ------ | 
| Jupyter Notebook |
|R Studio |
| Pycharm |

### Below are a few examples of evaluating arithmetic expressions in Python
2+2=4

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [3]:
200/60
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

**Objectives:**
- Python
- R
- SQL
- Scala
- Julia

## Author
Muhammad Hasnain